body {
 background: linear-gradient(-90deg, #f39c12, #d35400, #c03922);
 font-family: 'Raleway', sans-serif;
}

h1 {
  color: white;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
}

.selectize-input.full, .dropdown-active, .input-active {
    background-color: transparent;
    border: solid 5px;
    border-color: rgba(256,256,256,0.6);
    border-radius: 0;
    height: 65px;
    padding: 17px;
    font-size: 1.3em;
    color: white;
    box-shadow: none;
}